{% extends "base.html" %}

{% block main %}
<!-- Outline takin from the goat Harshal -->
<div class="">
    <header>
        <h1>Sort By Category</h1>
    </header>
    <div class="">
        <br>
        <form class="" method="POST" action="/category">
            {% for category in categories %}
            <input type="hidden" name="category" value="{{ category[0] }}">
            {% endfor %}
            <input type="Submit" value="Actions" class="table">
        </form>
    </div>

    <br>
    <!-- Create a table to display the word information -->
    <div class="">
        <table>
            <tr>
                <th>Word</th>
                <th>English</th>
                <th>Definition</th>
                <th>Category</th>
                <th>Level</th>
            </tr>

            <!-- Iterate over the words and display each word's information in a table row -->
            {% for word in words %}
            <tr>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td>{{ word[3] }}</td>
                <td>{{ word[4] }}</td>
                <td>{{ word[5] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}