{% extends "base.html" %}

{% block main %}
<!-- Outline takin from the goat Harshal -->
<div>
    <header>
        <h1>Sort By Category</h1>
    </header>
    <!-- creates a list of buttons the users can click on to sort the words-->
    <div class="form-group">
        <div class="form-text-label">Category / Rōpū Raraunga:</div>
        <div class="form-element">
            <!-- the code here is taken from an old project -->
            {% for category in categories %}
            <form name="category" id="category" action="/category" method="post">
                    <input type="hidden" name="category" value="{{ category[0] }}" id="sort">
                    <input type="Submit" value="{{ category[1] }}" id="sort">
            </form>
            {% endfor %}
        </div>
    </div>

    <br>
    <div class="container">
        <table>
            <tr>
                <th>Word</th>
                <th>English</th>
                <th>Definition</th>
                <th>Category</th>
                <th>Level</th>
            </tr>

            {% for word in words %}
            <tr>
                <td>{{ word[0] }}</td>
                <td>{{ word[1] }}</td>
                <td>{{ word[2] }}</td>
                <td>{{ word[3] }}</td>
                <td>{{ word[4] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}