{% extends "base.html" %}

{% block main %}
    {% for word in words %}
        {% if teacher and logged_in %}
            <button class="delete_btn" word_Id="{{ word[0] }}">Delete</button>
            <form id="delete_{{ word[0] }}" action="/dictionary" method="post" style="display: none;">
            <input type="hidden" name="Word_id" value="{{ word[0] }}">
            </form>
        {% else %}
        {% endif %}
        <button class="word" data-maori="{{ word[1] }}" data-english="{{ word[2] }}" data-category="{{ word[3] }}" data-definition="{{ word[4] }}" data-year="{{ word[5] }}" data-user="{{ word[6] }}" data-image="{{ word[7] }}" data-date="{{ word[8] }}">{{ word[1] }} <> {{ word[2] }}</button>
    {% endfor %}

    <!-- Thanks to Harshal for showing me a better way of displaying the data -->
    <dialog id="dialog">
        <div id="message"></div>
        <button id="close_btn">Close</button>
    </dialog>

    <script>
        document.querySelectorAll('.word').forEach(button => {
            button.addEventListener('click', function() {
                const maori = this.getAttribute("data-maori");
                const english = this.getAttribute("data-english");
                const category = this.getAttribute("data-category");
                const definition = this.getAttribute("data-definition");
                const year = this.getAttribute("data-year");
                const user = this.getAttribute("data-user");
                const images = this.getAttribute("data-image")
                const date = this.getAttribute("data-date")

                const message = `<img src="static/images/${images}.png" class=images><br>Maori = ${maori}<br>English = ${english}<br>Category = ${category}<br>Definition = ${definition}<br>Year Level = ${year}<br>Entered By User = ${user}<br>Date Entered = ${date}`;

                const dialog = document.getElementById('dialog');
                const container = document.getElementById('message');
                container.innerHTML = message;
                dialog.showModal();
            });
        });

        const closeButton = document.getElementById('close_btn');
        closeButton.addEventListener('click', function() {
            const dialog = document.getElementById('dialog');
            dialog.close();
        });

        document.querySelectorAll('.delete_btn').forEach(delete_button => {
            delete_button.addEventListener('click', function () {
                const word_id = this.getAttribute("word_id")
                if (confirm('You Delete Yes?')){
                    const form = document.getElementById('delete_' + word_id);
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}