{% extends "base.html" %}

{% block main %}
    {% for word in words %}
        <button class="word" data-id="{{ word[0] }}" data-maori="{{ word[1] }}" data-english="{{ word[2] }}" data-category="{{ word[3] }}" data-definition="{{ word[4] }}" data-year="{{ word[5] }}" user="{{ word[6] }}" image="{{ word[7] }}">{{ word[1] }} <> {{ word[2] }}</button>
    {% endfor %}

    <!-- Thanks to Harshal for showing me a better way of displaying the data -->
    <dialog id="dialog">
        <div id="message"></div>
        <button id="close_btn">Close</button>
        <button id="delete">Delete</button>
    </dialog>

    <script>
        document.querySelectorAll('.word').forEach(button => {
            button.addEventListener('click', function() {
                const id = this.getAttribute("data-id");
                const maori = this.getAttribute("data-maori");
                const english = this.getAttribute("data-english");
                const category = this.getAttribute("data-category");
                const definition = this.getAttribute("data-definition");
                const year = this.getAttribute("data-year");
                const user = this.getAttribute("user");
                const images = this.getAttribute("image")

                const message = `<img src="static/images/${images}.png" class=images><br>Maori = ${maori}<br>English = ${english}<br>Category = ${category}<br>Definition = ${definition}<br>Year = ${year}<br>User = ${user}`;

                const dialog = document.getElementById('dialog');
                const container = document.getElementById('message');
                container.innerHTML = message;
                dialog.showModal();

                const deleteButton = document.getElementById('delete');
                deleteButton.setAttribute('data-id', id);
            });
        });

        const closeButton = document.getElementById('close_btn');
        closeButton.addEventListener('click', function() {
            const dialog = document.getElementById('dialog');
            dialog.close();
        });


        const deleteButton = document.getElementById('delete');
        deleteButton.addEventListener('click', function() {
            const id = this.getAttribute("data-id");
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = 'confirm_deletion';
            // Create an input field for the word to be deleted
            const idInput = document.createElement('input');
            idInput.type = 'hidden';
            idInput.name = 'word_id';
            idInput.value = id;

            // Append the input field to the form
            form.appendChild(idInput);

            document.body.appendChild(form);

            form.submit();
        });
    </script>
{% endblock %}