{% extends "base.html" %}

{% block main %}
    {% for word in words %}
        <button id="open_btn" Maori="{{ word[0] }}", English="{{ word[1] }}", Category="{{ word[2] }}",Definition="{{ word[3] }}", Year="{{ word[4] }}">{{ word[0] }}, '{{ word[1] }}</button>
    {% endfor %}

    <dialog id="dialog">
        <div id="message"></div>
        <button id="close_btn">Close</button>
        <button id="delete">Delete</button>
    </dialog>

    <script>
        document.querySelectorAll("dialog");
        {
            const modal = document.getElementById("message")
            const button = document.getElementById("open_btn")
            const close = document.getElementById("close_btn")

            button.onclick = function() {
                modal.style.display = "block";
            }

            close.onclick = function() {
            modal.style.display = "none";
            }
        }
    </script>
{% endblock %}